pygame~=2.1.0
numpy~=1.22.4
matplotlib~=3.6.1
plotly~=5.9.0
noise~=1.2.2
Flask-SQLAlchemy~=3.0.3
torch~=1.13.0
flask~=2.2.2
pymongo~=4.3.3
defusedxml~=0.7.1
cffi~=1.15.1
future~=0.18.3
pillow~=9.4.0
ipython~=8.12.0
zlib~=1.2.13
pip~=23.0.1
wheel~=0.38.4
openssl~=1.1.1
cryptography~=39.0.1
lxml~=4.9.2
tornado~=6.2
keyring~=23.13.1
typing_extensions~=4.4.0
markupsafe~=2.1.1
werkzeug~=2.2.3
jinja2~=2.11.3
click~=8.0.4
blinker~=1.4
itsdangerous~=2.1.2
setuptools~=65.6.3
pytz~=2022.7
numba~=0.56.4
pkginfo~=1.9.6
tenacity~=8.0.1
pandas~=1.5.2
xarray~=2022.12.0
ipywidgets~=8.0.4
traitlets~=5.7.1
six~=1.16.0
python-dateutil~=2.8.2
contourpy~=1.0.5
fonttools~=4.37.4
freetype~=2.12.1
pyparsing~=3.0.9
cycler~=0.11.0
packaging~=22.0
ipykernel~=6.19.2
sphinx~=5.0.2
docutils~=0.18.1
kiwisolver~=1.4.4
zipp~=3.11.0
tqdm~=4.65.0
